<!doctype html>
<html>
<head><title>{{ nginx_site_title }}</title></head>
<body>
  <h1>{{ nginx_site_title }}</h1>
  <p>Host: {{ inventory_hostname }}</p>
  <p>OS: {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
</body>
</html>
